<div class="sign-in-popup">
  <div class="row">
    <div class="col-md-6 mb-30">
      <h3>Войти</h3>
      <form action="">
        <label for="sign-in-input">Имя пользователя или почта <abbr class="required" title="required">*</abbr></label> <!-- Username or email address -->
        <input type="text" name="email" id="sign-in-input">

        <label for="sign-in-password">Пароль <abbr class="required" title="required">*</abbr></label>
        <input type="text" name="password" id="sign-in-password">

        <input type="submit" name="sign-in" value="Sign In" class="btn btn-md btn-dark btn-button">

        <a href="#" class="sign-in-popup__forgot-password">Забыл Пароль?</a>
      </form>
    </div>
    <div class="col-md-6 mb-30">
      <h3>Регистрация</h3>
      <form action="">
        <label for="register-input">Почта <abbr class="required" title="required">*</abbr></label> <!-- Email address -->
        <input type="text" name="email" id="register-input">

        <label for="password">Пароль <abbr class="required" title="required">*</abbr></label>
        <input type="password" name="password" id="register-password">

        <input type="submit" name="register" value="Register" class="btn btn-md btn-dark btn-button">
      </form>
    </div>
  </div>
</div>